<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mega_Music_School</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.css" rel="stylesheet" />
    <script src="~/js/sweetalert.min.js"></script>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <script>
        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
                confirmButtonColor: "#00A7EF",
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Notification',
                icon: 'info',
                text: message,
            })
        }

        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function newErrorAlert(message, url) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function errorAlertWithRedirect(message, url) {
            Swal.fire({
                title: "Error",
                text: message,
                icon: "error",
                timer: 30000,
                confirmButtonColor: "#00A7EF",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

        function newSuccessAlert(message, url) {
            Swal({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function successAlertWithRedirect(message, url) {
            Swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: 30000,
                confirmButtonColor: "#00A7EF",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

        function errorAlertwithTwoButtons(yesUrl, noUrl, newUrl, errorTitle) {
            Swal.fire({
                title: errorTitle,
                text: "",
                icon: "error",
                buttons: {
                    cancle: "No",
                    confirmButtonColor: "#00A7EF",
                    change: "Yes",
                    new: "Create Pin",
                },
            })
                .then((status) => {
                    debugger;
                    switch (status) {
                        case "change":
                            location.href = yesUrl;
                            break;
                        case "new":
                            location.href = newUrl;
                            break;
                        default:
                            location.href = noUrl;
                    }
                });
        }

        function SweeTest(yesUrl, noUrl) {
            Swal.fire({
                title: "Unverified E-mail Address",
                text: "Check your inbox Or Change email",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#00A7EF",
                confirmButtonText: "Resend Email",
                cancelButtonText: "Change Email",
                cancelButtonColor: "#D3AF71",
                closeOnConfirm: false,
                closeOnCancel: false
            })
                .then((result) => {
                    debugger
                    if (result.isConfirmed) {
                        location.href = yesUrl
                    }
                    else {
                        location.href = noUrl
                    }

                });
        }
    </script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-light text-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <a class="navbar-brand text-danger" asp-area="" asp-controller="Home" asp-action="Index"><strong>MEGA MUSIC SCHOOL</strong></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col-md-6 ml-auto text-primary">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span class="text-primary">Home Page</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Learning"><span class="text-primary">Learning Page</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Entertainment"><span class="text-primary">Entertainment</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 ml-5 text-primary">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="StudentRegister"><span class="text-primary">Register</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><span class="text-primary">Login</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top text-muted">
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-white align-center ">
                    <h5 class="text-justify"><strong>Mega Music School</strong></h5>
                    <div class="mt-1">
                        <p>Scheme enacted to teach music in general to all aspirants, getting to your knowledge the full MUSIC CONCEPT.</p>
                        <p>+234-803-611-4237, +222-312-212-21</p>
                        <p>megamedia12@gmail.com</p>
                    </div>
                    <div class="">
                        <img src="~/image/icon-facebook.svg">
                        <img src="~/image/icon-youtube.svg">
                        <img src="~/image/icon-twitter.svg">
                        <img src="~/image/icon-pinterest.svg">
                        <img src="~/image/icon-instagram.svg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-white align-center ">
                    <h5 class="text-justify"><strong>OUR ADDRESS</strong></h5>
                    <p class="address"><strong>Nigeria Office</strong></p>
                    01 Mega-Lane
                    New G.R.A,
                    Enugu State,
                    Nigeria.
                    <br><br>
                    <p class="address "><strong>USA Office</strong></p>
                    Block 43 Mark-Donald Avenue
                    California.
                    USA.
                </div>

                <div class="col-lg-3 col-md-6 text-white">
                    <h5 class="address"><strong>GET CERTIFIED ON</strong></h5>
                    <div style="font-family: sans-serif;">
                        <ul class="">
                            <li><a href="#" class="text-white nav-link">Piano</a></li>
                            <li><a href="#" class="text-white nav-link">Base & Lead Guitar</a></li>
                            <li><a href="#" class="text-white nav-link">Violin</a></li>
                            <li><a href="#" class="text-white nav-link">Voicing</a></li>
                            <li><a href="#" class="text-white nav-link">Saxophone</a></li>
                            <li><a href="#" class="text-white nav-link">Voice Instrument</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <br />
            <div class="container-fluid bg-dark">
                <div class="text-dark text-white text-center">
                    &copy; Copyright Mega_Music_School - 183893994...
                    <br />All Rights Reserved <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy.</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/Script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>