@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<section class="section">
    <div class="container-fluid"><img src="~/images/Beauty.png" class="w-100 h-25" width="100" /></div>
    <div class="row">
        <div class="col-md-12">
            <div class="container align-items-center">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center text-danger">ENTERTAINMENT FIELD</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


