@model Mega_Music_School.Models.UserAndAdminProfile
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    @*<h5 class="card-title text-center">COURSE PAGE</h5>*@


                    <i class="fas fa-address-book" style="font-size:79px;color:red"></i>
                    Contact Us
                    0903121221
                    EMAIL: MEGAMEDIA@GMAIL.COM
                </div>
            </div>
        </div>
    </div>
</section>